--- # AWS ALM VPC Creation
- hosts: localhost
  connection: local
  remote_user: jacopete
  become: no
  gather_facts: no
  vars_files:
    - ../../vars/control.yml
  tasks:
  - name: Update ssh config
    blockinfile:
      path: "{{ ssh_config_path }}"
      block: |
        Host *.{{ customer_name }}.{{ tld }}
            ForwardAgent yes
            User ec2-user
            IdentityFile {{ jump_ec2_key }}.pem
            ProxyCommand ssh ec2-user@{{ jump_ip }} nc %h %p -w 10