--- # AWS playbook to create a Virtual Private Network and Elastic Compute Cloud instances
- import_playbook: vpc/vpc-igw.yml
- import_playbook: vpc/subnets.yml
- import_playbook: vpc/rds-subnet-groups.yml
- import_playbook: vpc/route-tables.yml
- import_playbook: vpc/nacl.yml
- import_playbook: vpc/security-groups.yml
- import_playbook: vpc/ec2-instances.yml
- import_playbook: vpc/rds-instances.yml
- import_playbook: vpc/ssh-config.yml
#- import_playbook: vpc/nagios-cfg.yml