127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

10.0.1.34 jira.{{ customer_name }}.nva
10.0.1.64 conf.{{ customer_name }}.nva
10.0.2.13 pgpool.{{ customer_name }}.nva
10.0.2.11 pgres1.{{ customer_name }}.nva
10.0.2.12 pgres2.{{ customer_name }}.nva